post-list {
  .default_picture {
    zoom: 2.0 !important;
  }

  div.buttons {
    ion-col {
      background: #ededed;

      button {
        ion-icon {
          color: #666;

          &.active {
            color: #5858cc;
          }
        }
      }
    }
  }

  div.only-images {
    ion-col {
      div.image-container {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  div.details {
    ion-item {
      img {
        width: 100%;
      }
    }
  }
}
